<ion-view view-title="Snack Om Livet">
  <ion-content class="">
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/menu/posts/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->

      <ul class="" id="postFeed">
          <li ng-repeat="post in posts">
              <a ng-href="#/menu/posts/{{post.id}}">
                  <img ng-src="{{post.thumbnail_images.medium.url}}">
              </a>
          </li>
      </ul>
  </ion-content>
</ion-view>
