<ion-view view-title="Post">
  <ion-content id="Post">
      <header id="PostHeader">
          <div class="avatar">
              <img class="avatar-image" ng-src="{{avatarImage}}">
              <div class="avatar-meta">
                  <p>{{authorName}}</p>
                  <p>13 minutes ago</p>
              </div>
          </div>
      </header>
      <section id="PostContent">
          <h3 class="title">{{post.title}}</h3>
        <div class="col" ng-bind-html="post.content">
      </section>

    </div>
  </ion-content>
</ion-view>
