/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import url(https://fonts.googleapis.com/css?family=Amaranth|Titillium+Web|Fjalla+One);
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.pane {

}
p {
  font-family: 'Titillium Web', sans-serif;
}
#postFeed {
  margin-left: 5px;
  padding: 7px;
  li {
    display: inline;
    &:nth-child(even) img {
      width: 30%;
      height: 123px;
    }
    &:nth-child(odd) img {
      width: 65%;
      height: 123px;
    }
    a {
      text-decoration: none;
      img {
        border-radius: 2px;
        box-shadow: 2px 0px 4px black;
      }
        // height: 100%;
      }
    }
  }
  #Post {
    margin-top: 25px;
    #PostHeader {
      background-size: cover;
      background-position: center;
      height: 267px;
      width: 100%;
      box-shadow: 2px 2px 2px #000;
      margin-bottom: 13px;
    }
  }
  .avatar {
    position: fixed;
    top: 10px;
    width: 55%;
    .avatar-image {
      box-shadow: 0 2px 2px black;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      vertical-align: middle;
    }
    .avatar-meta {
      display: inline-block;
      vertical-align: middle;
      p {
        text-shadow: 0 2px 2px #333;
        line-height: 0.7;
        color: #FFF;
        font-size: 18px;
        font-family: 'Fjalla One', sans-serif;
      }
    }
  }
  #PostContent {
    padding: 0 15.5px;
    .title {
      text-align: center;
      font-family: 'Amaranth', sans-serif;
    }
  }
